# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Created by https://www.gitignore.io/api/angular
# Edit at https://www.gitignore.io/?templates=angular

### Angular ###
## Angular ##
# compiled output
/movierama-web/dist
/movierama-web/tmp
/movierama-web/app/**/*.js
/movierama-web/app/**/*.js.map

# dependencies
/movierama-web/node_modules
/movierama-web/bower_components

# IDEs and editors
/.idea

# misc
/movierama-web/.sass-cache
/movierama-web/connect.lock
/movierama-web/coverage/*
/movierama-web/libpeerconnection.log
/movierama-web/npm-debug.log
/movierama-web/testem.log
/movierama-web/typings

# e2e
/movierama-web/e2e/*.js
/movierama-web/e2e/*.map

#System Files
.DS_Store

# End of https://www.gitignore.io/api/angular